.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/Main.jpg") no-repeat 50%/cover;
    padding: 216px 0 350px;
    &__wrapper {
        width: 530px;
        margin: 0 0 0 auto;
    }
    &__reference-wrapper {
        display: flex;
        margin-top: 20px;
    }
    a {
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            font-weight: bold;    
        }
    &__aboutme {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }
    &__subtitle {
        position: relative;
        padding-left: 12px;
        padding-top: 6px;
        z-index: 2;
       @include before_circle; 
    }
}