.resume {
    padding-top: 120px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        position: relative;
        @include before_circle;
        &:before {
            top: -6px;
            left: 5px;
        }
    }
    &__devider {
        margin-top: 25px;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 425px);
        gap: 136px;
    }
    &__item {
        &-head {
            display: grid;
            grid-template-columns: 40px 315px;
            grid-template-rows: repeat(2, minmax(20px, auto));
            column-gap: 20px;
        }
        &-icon {
            position: relative;
            grid-row: 1/3;
            @include before_circle;
            img {
                margin-top: 15px;
                margin-left: 15px;
            }
            @include white-line;
        }
        &-subtitle {
            margin: 0;
        }
        &-body {
            margin-top: 12px;
        }
    }
    li {
        margin-top: 45px;
        list-style: none;
    }
    &__column {
        position: relative;
        @include white-lane-vertical;
    }

}