@mixin before_circle {
    &:before {   
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        height: 36px;
        width: 36px;
        background-color: $main-color;
        border-radius: 100%;
        z-index: -2;
    }
}

@mixin main_color_shadow {
    box-shadow: 1px 2px 92px 67px rgba(26,137,166,0.16);
}
